.category--list {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0 0 15px;
}

.category--block {
    width: 33.33%;

    > .header {
        margin: 0 0 10px;
        text-align: left;
        font-size: 18px;
        padding: 0 10px;
    }

    > .inner {
        padding: 0 5px;
    }
}